/*card common style*/
.card{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-card-background);
  transition:background-color .5s;
  z-index: 100;
  animation:fadeIn 0.5s ease-in-out forwards;
  &.close-ani{
     animation:fadeOut 0.5s ease-in-out forwards;
    .card-main{
      animation:popOut 0.5s ease-in-out forwards;
      pointer-events: none;
    }
  }
  .card-main{
    position: absolute;
    display: flex;
    flex-direction:column;
    bottom: -30rpx;
    left: 0;
    width: 100%;
    padding: 60rpx 20rpx 120rpx;
    max-height: 85%;
    min-height: 300rpx;
    box-sizing: border-box;
    background: var(--color-foreground);
    border-radius: 8rpx 8rpx 0 0;
    animation:popIn 0.5s ease-in-out forwards;
    .close-btn{
      position: absolute;
      top: 10rpx;
      right: 30rpx;
      width: 60rpx;
      height: 60rpx;
      background: var(--icon-close) no-repeat right 20rpx;
      background-size: 30rpx 30rpx;
    }
  }
}
@keyframes fadeIn {
  0%,30%{
    background-color: transparent;
  }
}
@keyframes fadeOut {
  70%,100%{
    background-color: transparent;
  }
}
@keyframes popIn {
  0%{
    opacity: 0;
    transform: translateY(500rpx);
  }
  50%{
    opacity: 1;
  }
  70%{
    transform:translateY(-30rpx);
  }
}
@keyframes popOut {
  30%{
    transform:translateY(-30rpx);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateY(500rpx);
  }
}
