view,page{
  --color-foreground: #fff;
  --color-background: #f1f1f1;
  --color-card-background: rgba(0,0,0,0.8);
  --color-view-shadow: rgba(0,0,0,0.1);
  --color-text: #363f51;
  --color-text-sub: #96a1b5;
  --color-text-selected: #ff4b57;
  --color-tab-text: #d3d5d9;
  --color-tips-background-red: #fff0f1;
  --color-tips-background-light: #fef2f3;
  --color-tips-background-dark: var(--color-text);
  --color-card-border: var(--color-tab-text);
  --color-tips-text: var(--color-text-selected);
  --color-tab-text-selected: var(--color-text-selected);
  --color-tab-background: var(--color-text);
}
