page{
  font-size: 26rpx;
  background: var(--color-background);
  color: var(--color-text);
}
page,._input{
  font-family: Arial, Helvetica, sans-serif;
}
.input-placeholder{
  color: var(--color-text-sub);
}
._hr{
  height: 1rpx;
  background: var(--color-card-border);
  margin: 20rpx 0;
}
.btn-red{
  border: 1rpx solid var(--color-tab-text-selected);
  background: var(--color-tab-text-selected);
  color: var(--color-foreground);
  text-align: center;
  border-radius: 10rpx;
}
.btn-black{
  border: 1rpx solid var(--color-tab-background);
  background: var(--color-tab-background);
  color: var(--color-foreground);
  text-align: center;
  border-radius: 10rpx;
}
.btn-white{
  border: 1rpx solid var(--color-text-sub);
  background: var(--color-foreground);
  color: var(--color-text-sub);
  text-align: center;
  border-radius: 10rpx;
}
.view{
  position: relative;
  display: flex;
  flex-direction: column;
}
.paster{
  position: relative;
  margin-bottom: 10rpx;
  background: var(--color-foreground);
  &.paster-personal{
     display: flex;
     margin-bottom: 0;
     padding: 25rpx 25rpx 0;
     flex-direction: column;
     box-sizing: border-box;
     background: var(--color-text);
     color: var(--color-tab-text);
   }
}
.icon-unchecked{
  position: relative;
  flex: none;
  width: 35rpx;
  height: 35rpx;
  border-radius: 50%;
  border: 1rpx solid var(--color-text-sub);
  box-sizing: border-box;
  &:after{
     content: "";
     position: absolute;
     top: -12.5rpx;
     left: -12.5rpx;
     width: 60rpx;
     height: 60rpx;
  }
  &.checked{
     border: none;
     background: var(--color-tab-text-selected) var(--icon-tick) no-repeat center;
     background-size: 21rpx 13rpx;
  }
}
.icon{
  &.icon-order{background-image: var(--icon-order) !important;}
  &.icon-filter{background-image: var(--icon-filter) !important;}
  &.icon-broadcast{background-image: var(--icon-broadcast) !important;}
  &.icon-shopcart{background-image: var(--icon-shopcart) !important;}
  &.icon-shopcart-nothing{background-image: var(--icon-shopcart-nothing) !important;}
  &.icon-close{background-image: var(--icon-close) !important;}
  &.icon-tick{background-image: var(--icon-tick) !important;}
  &.icon-location{background-image: var(--icon-location) !important;}
  &.icon-up{background-image: var(--icon-up) !important;}
  &.icon-down{background-image: var(--icon-down) !important;}
  &.icon-code{background-image: var(--icon-code) !important;}
  &.icon-coupon{background-image: var(--icon-coupon) !important;}
  &.icon-delivery{background-image: var(--icon-delivery) !important;}
  &.icon-help{background-image: var(--icon-help) !important;}
  &.icon-info{background-image: var(--icon-info) !important;}
  &.icon-obligation{background-image: var(--icon-obligation) !important;}
  &.icon-received{background-image: var(--icon-received) !important;}
  &.icon-vip{background-image: var(--icon-vip) !important;}
  &.icon-authentication{background-image: var(--icon-authentication) !important;}
  &.icon-eye-open{background-image: var(--icon-eye-open) !important;}
  &.icon-eye-close{background-image: var(--icon-eye-close) !important;}
  &.icon-wechat{background-image: var(--icon-wechat) !important;}
  &.icon-delete{background-image: var(--icon-delete) !important;}
}
