._hr{
  height: 1rpx;
  background: var(--color-card-border);
  margin: 20rpx 0;
}
.btn-red{
  box-sizing: border-box;
  background: var(--color-tab-text-selected);
  color: var(--color-foreground);
  text-align: center;
  border-radius: 10rpx;
}
.btn-white{
  box-sizing: border-box;
  border: 1rpx solid var(--color-text-sub);
  color: var(--color-text-sub);
  text-align: center;
  border-radius: 10rpx;
}

.icon-unchecked{
  position: relative;
  flex: none;
  width: 35rpx;
  height: 35rpx;
  border-radius: 50%;
  border: 1rpx solid var(--color-text-sub);
  box-sizing: border-box;
  &:before{
     content: "";
     position: absolute;
     top: -12.5rpx;
     left: -12.5rpx;
     width: 60rpx;
     height: 60rpx;
  }
  &.checked{
     border: none;
     background: var(--color-tab-text-selected) var(--icon-tick) no-repeat center;
     background-size: 21rpx 13rpx;
  }
}
